#jinja2:variable_start_string:'[%', variable_end_string:'%]', trim_blocks: False
{
  "policies": {
    "DisableBuiltinPDFViewer": true,
    "DisableFirefoxAccounts": true,
    "DisablePocket": true,
    "DisableSetDesktopBackground": true,
    "HardwareAcceleration": false,
    "BlockAboutConfig": true,
    "BlockAboutProfiles": true,
    "DefaultDownloadDirectory": "${home}/Downloads",
    "DisableFirefoxStudies": true,
    "DisablePasswordReveal": true,
    "DisableTelemetry": true,
    "DisplayBookmarksToolbar": true,
    "OverrideFirstRunPage": "[% firefox_start_page %]|[% firefox_additional_start_page %]",
    "DownloadDirectory": "${home}/Downloads",
    "browser.translations.automaticallyPopup": {
        "Value": false,
        "Status": "locked"
    }, 
    "Popups": {
      "AllowedSites": ["https://YOURSITE"]
    },
    "EnableTrackingProtection": {
      "Cryptomining": true,
      "Fingerprinting": true,
      "Value": true
    },
    "Homepage": {
      "URL": "[% firefox_start_page %]",
      "Locked": true,
      "StartPage": "homepage-locked",
      "Additional": ["[% firefox_additional_start_page %]"]
    },
    "Bookmarks": [
    {% for item in bookmarks %}
      {
        "Placement": "toolbar",
        "Title":"[% item.name %]",
        "URL": "[% item.value %]"
      },
      {% endfor %}
      {
        "Placement": "toolbar",
        "Title": "Linux",
        "URL": "https://linux-bildung.at"
      }
    ],
    "NoDefaultBookmarks": true,
    "OfferToSaveLogins": false,
    "PasswordManagerEnabled": false,
    "Preferences": {
      "media.gmp-widevinecdm.enabled": true,
      "browser.tabs.warnOnClose": false
    },
    "RequestedLocales": [
      "de"
    ],
    "ExtensionSettings": {
      "uBlock0@raymondhill.net": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi"
      },
      "de-DE@dictionaries.addons.mozilla.org": {
        "installation_mode": "force_installed",
        "install_url": "https://addons.mozilla.org/firefox/downloads/file/1163876/german_dictionary-2.0.6.1webext.xpi"
      },
      "langpack-de@firefox.mozilla.org": {
        "installation_mode": "force_installed",
        "install_url": "/usr/lib/firefox-addons/extensions/langpack-de@firefox.mozilla.org.xpi"
      }
    },
    "SanitizeOnShutdown": {
      "Cache": true,
      "Cookies": true,
      "Downloads": true,
      "FormData": true,
      "History": true,
      "OfflineApps": true,
      "Sessions": true,
      "SiteSettings": true
    },
    "SearchEngines": {
      "Add": [
        {
          "Name": "STARTPAGE",
          "URLTemplate": "https://www.startpage.com/do/dsearch?query={searchTerms}",
          "Method": "POST",
          "IconURL": "https://www.startpage.com/favicon.ico",
          "Alias": "startpage",
          "Description": "Description",
          "PostData": "query={searchTerms}",
          "SuggestURLTemplate": "https://www.startpage.org/suggestions/q={searchTerms}"
        }
      ],
      "Default": "STARTPAGE",
      "Remove" : ["eBay", "Amazon"]
    }
  }
}
